    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-text">
                        <span class="name">{{ site.title }}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="subtitle-text">
                        <span class="name">{{ site.subtitle }}</span>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="author-text">
                        <span class="name">{{ site.author }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>